.container {
  max-width: 500px;
  margin: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}
.form input {
  max-width: 300px;
  outline: none;
  border: 1px solid;
  background-color: #f8f8f8;
  padding: 0 10px;
}
.form input[type="email"] {
  height: 2.5rem;
}
.form label {
  font-weight: 700;
  font-size: 25px;
  margin-top: 10px;
}
.form textarea {
  max-width: 300px;
  outline: none;
  border: 1px solid;
  background-color: #f8f8f8;
  padding: 10px 10px;
}
.button {
  width: 330px;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  color: white;
  padding: 20px;
  margin-top: 15px;
  background-color: #1ea7fd;
}
